@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <div class="app-title">
            <NavLink href="/" class="app-title">
                Pschool
            </NavLink>
        </div>

        <NavMenu />
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
