<ul class="nav flex-column text-center">
    <li class="nav-item px-3">
        <NavLink class="nav-link nav-center" href="parents">👨‍👩‍👧 Parents</NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link nav-center" href="students">🎓 Students</NavLink>
    </li>
</ul>
